
*{box-sizing: border-box;}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.header {
    text-align: center;
    padding: 35px;
}

.row {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.column {
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
}

//@media (max-width:700px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}//

